<p>destino-detalle works!</p>
<hr>
<mgl-map [style]="style" [zoom]="[2]" style="height: 50vh; width: 100vw;">
  <mgl-marker [lngLat]="[-75.551012, 10.421185]">
    <div class="marker" onclick="alert('Hola bb')">
      Hola Mundo!
    </div>
  </mgl-marker>
</mgl-map>
